/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
  margin: 0;
}

header {
  background-color: #400607;
  color: white;
  font-size:20px;
  margin:0px;
  
}
.bg{
  background-color: #400607;
  color:white;
}
.demo{
  margin-bottom:6px;
}

header h1 {
  font-size: 2.5rem;
  color:white;
}

.custom-navbar {
  background-color: #400607;
  
}
.navbar .nav-link {
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin:0 20px;
  
}

.navbar .nav-link:hover {
  color: #c62828;
  
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 
}

.hero {
  height: 60vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  font-size: 2.5rem;
  color:white;
}

.intro {
  background-color: #ffeb3b;
}

.intro h2 {
  font-size: 2rem;
  color:white;
}

.products .card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color:black;
}

.products .card img {
  border-radius: 8px;
}

.footer {
  background-color: #fce4b9;
  color: #3b2f2f;
}

.btn-success {
  background-color: #4caf50;
  color: white;
}

.btn-success:hover {
  background-color: #388e3c;
}
.logo {
  width: 100%; 
  height: 45vh; 
  border-radius:25px;
   
}
.logo-image{
  width: 125px;         
  height: auto;          
  object-fit: contain;   
  margin-right: 20px;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .navbar-brand .logo-image {
    width: 125px; 
  }
}
